In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

Load data

In [3]:
data = pd.read_csv('C:/Users/user/TRAINEE/superstore_bi_pipeline/data/raw/superstore.csv', encoding='latin1')  # Или 'cp1252'

df = data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [5]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [6]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [7]:
len(df)

9994

In [8]:
# Cast to INTEGER/DECIMAL (nullable for NaN)
df['Row ID'] = pd.to_numeric(df['Row ID'], errors='coerce').astype('Int64')
df['Postal Code'] = pd.to_numeric(df['Postal Code'], errors='coerce').astype('Int64')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').astype('Int64')
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')

In [9]:
#  Dates to str for VARCHAR raw
df['Order Date'] = df['Order Date'].astype(str)
df['Ship Date'] = df['Ship Date'].astype(str)

In [10]:
# Rename for DB schema (name mapping)
df = df.rename(columns={
    'Row ID': 'row_id', 'Order ID': 'order_id', 'Order Date': 'order_date', 'Ship Date': 'ship_date',
    'Ship Mode': 'ship_mode', 'Customer ID': 'customer_id', 'Customer Name': 'customer_name',
    'Segment': 'segment', 'Country': 'country', 'City': 'city', 'State': 'state',
    'Postal Code': 'postal_code', 'Region': 'region', 'Product ID': 'product_id',
    'Category': 'category', 'Sub-Category': 'sub_category', 'Product Name': 'product_name',
    'Sales': 'sales', 'Quantity': 'quantity', 'Discount': 'discount', 'Profit': 'profit'
})

In [11]:
# Convert dates in Python before loading into stage
df['order_date'] = pd.to_datetime(df['order_date'], format='%m/%d/%Y')
df['ship_date'] = pd.to_datetime(df['ship_date'], format='%m/%d/%Y')
# For secondary_load as well

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   Int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   datetime64[ns]
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   Int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   Int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: Int64(3), datetime64[ns](2), float64(3), object(13)
memory usage: 1.6+ MB

In [13]:
df.to_csv('C:/Users/user/TRAINEE/superstore_bi_pipeline/data/raw/initial_load.csv', index=False, encoding='utf-8')

In [14]:
secondary_size = int(len(df)*0.1)
secondary_size

999

Simulate 1000 rows for additional data loading. For example: new_records_size = 500, modified_record_size = 400, dublicates_size = 100

In [15]:
new_records_size = 500
modified_record_size = 400
scd1_size = scd2_size = 200
duplicates_size = 100

1. New records

In [56]:
new_records = pd.DataFrame({
    'row_id': [9995 + i for i in range(new_records_size)],
    'order_id': [f'NEW_ORD_{random.randint(10000, 99999)}' for _ in range(new_records_size)],
    'order_date': [(datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%m/%d/%Y') for _ in range(new_records_size)],
    'ship_date': [(datetime.now() - timedelta(days=random.randint(0, 30))).strftime('%m/%d/%Y') for _ in range(new_records_size)],
    'ship_mode': np.random.choice(df['ship_mode'].dropna().unique(), new_records_size),  # Capital
    'customer_id': [f'NEW_CUST_{random.randint(1000, 9999)}' for _ in range(new_records_size)],
    'customer_name': [f'New Customer {random.randint(1, 1000)}' for _ in range(new_records_size)],
    'segment': np.random.choice(df['segment'].dropna().unique(), new_records_size),  # Capital
    'country': ['USA'] * new_records_size,
    'city': np.random.choice(df['city'].dropna().unique(), new_records_size),  # Capital
    'state': np.random.choice(df['state'].dropna().unique(), new_records_size),  # Capital
    'postal_code': np.random.choice(df['postal_code'].dropna().unique(), new_records_size),  # Capital
    'region': np.random.choice(df['region'].dropna().unique(), new_records_size),  # Capital
    'product_id': np.random.choice(df['product_id'].dropna().unique(), new_records_size),  # Capital
    'category': np.random.choice(df['category'].dropna().unique(), new_records_size),  # Capital
    'sub_category': np.random.choice(df['sub_category'].dropna().unique(), new_records_size),  # Capital 'Sub-Category'
    'product_name': [f'New Product {random.choice(df["product_name"].dropna().unique())}' for _ in range(new_records_size)],  # Capital
    'sales': np.random.uniform(10, 1000, new_records_size).round(2),
    'quantity': np.random.randint(1, 10, new_records_size),
    'discount': np.random.uniform(0, 0.5, new_records_size).round(2),
    'profit': np.random.uniform(-50, 500, new_records_size).round(2)
})

2. Duplicates (exact copies)

In [57]:
duplicates_records = df.sample(n=duplicates_size, random_state=42).copy()
duplicates_records.count()

row_id           100
order_id         100
order_date       100
ship_date        100
ship_mode        100
customer_id      100
customer_name    100
segment          100
country          100
city             100
state            100
postal_code      100
region           100
product_id       100
category         100
sub_category     100
product_name     100
sales            100
quantity         100
discount         100
profit           100
dtype: int64

In [58]:
scd1_records = df.sample(n=scd1_size).copy()
# Keep existing order_id, but update data (SCD1)
scd1_records['customer_name'] = scd1_records['customer_name'] + ' (Updated)'
scd1_records['sales'] = scd1_records['sales'] * 1.1

In [59]:
last_row_id = df['row_id'].max()

In [60]:
scd1_records['valid_from'] = pd.to_datetime(scd1_records['order_date']).dt.strftime('%Y-%m-%d')
scd1_records['valid_to'] = ''
scd1_records['previous_region'] = ''
scd1_records['is_new_version'] = False  # This is an UPDATE, not a new version
scd1_records['scd2_attribute_changed'] = ''

# Create new row_id for SCD1 (to avoid conflict with initial)
scd1_records['row_id'] = range(last_row_id + new_records_size + 1, 
                               last_row_id + new_records_size + len(scd1_records) + 1)

In [61]:
scd1_records.count()

row_id                    200
order_id                  200
order_date                200
ship_date                 200
ship_mode                 200
customer_id               200
customer_name             200
segment                   200
country                   200
city                      200
state                     200
postal_code               200
region                    200
product_id                200
category                  200
sub_category              200
product_name              200
sales                     200
quantity                  200
discount                  200
profit                    200
valid_from                200
valid_to                  200
previous_region           200
is_new_version            200
scd2_attribute_changed    200
dtype: int64

In [62]:
# 3. SCD TYPE 2 CHANGES (Versioning)

# Select customers for SCD2 changes (those who already have orders)
customer_counts = df['customer_id'].value_counts()
customers_with_history = customer_counts[customer_counts > 1].index.tolist()[:scd2_size]

scd2_records_list = []

# Date for the new version (e.g., one year after the last order)
base_new_date = datetime(2025, 1, 1)

for i, customer_id in enumerate(customers_with_history[:scd2_size]):
    # Get the last record for this customer
    customer_data = df[df['customer_id'] == customer_id].iloc[-1].copy()
    
    # Save the OLD region
    old_region = customer_data['region']
    
    # Select a NEW region (must be different from the old one)
    available_regions = ['South', 'West', 'Central', 'East']
    if old_region in available_regions:
        available_regions.remove(old_region)
    new_region = random.choice(available_regions) if available_regions else 'Central'
    
    # Create a new version of the record
    new_version = customer_data.copy()
    
    # Change SCD2 attribute (region)
    new_version['region'] = new_region
    
    # Save the old region in a separate field
    new_version['previous_region'] = old_region
    
    # Create a new order_id for the new version
    original_order_id = new_version['order_id']
    new_version['order_id'] = f"SCD2-{original_order_id}-V2"
    
    # Set new dates (later than old ones)
    old_date = pd.to_datetime(new_version['order_date'])
    new_date = base_new_date + timedelta(days=i)
    
    new_version['order_date'] = new_date.strftime('%m/%d/%Y')
    new_version['ship_date'] = (new_date + timedelta(days=random.randint(1, 5))).strftime('%m/%d/%Y')
    
    # Change some data for realism
    new_version['sales'] = (new_version['sales'] * random.uniform(0.9, 1.2)).round(2)
    new_version['quantity'] = new_version['quantity'] + random.randint(-1, 2)
    
    # new row_id
    start_id = last_row_id + new_records_size + len(scd1_records) + i + 1
    new_version['row_id'] = start_id
    
    new_version['valid_from'] = new_date.strftime('%Y-%m-%d')  # When the new version started
    new_version['valid_to'] = ''  # Empty = current version
    new_version['is_new_version'] = True  # This is a NEW version
    new_version['scd2_attribute_changed'] = 'region'  # Which attribute changed
    
    scd2_records_list.append(new_version)

scd2_records = pd.DataFrame(scd2_records_list)

print(f"SCD2 records created: {len(scd2_records)}")
print(f"Example: Customer {scd2_records.iloc[0]['customer_id']}")
print(f"  Old region: {scd2_records.iloc[0]['previous_region']}")
print(f"  New region: {scd2_records.iloc[0]['region']}")

Создаем SCD Type 2 изменения (версионность)...
Создано SCD2 записей: 200
Пример: Клиент WB-21850
  Старый регион: Central
  Новый регион: West

In [63]:
scd2_records

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,product_name,sales,quantity,discount,profit,previous_region,valid_from,valid_to,is_new_version,scd2_attribute_changed
9835,10695,SCD2-CA-2016-126627-V2,01/01/2025,01/02/2025,First Class,WB-21850,William Brown,Consumer,United States,La Porte,...,"Wilson Jones Ledger-Size, Piano-Hinge Binder, ...",16.32,3,0.8,-26.2272,Central,2025-01-01,,True,region
9356,10696,SCD2-CA-2015-110324-V2,01/02/2025,01/07/2025,Standard Class,MA-17560,Matt Abelman,Home Office,United States,Jackson,...,"Wirebound Message Books, Four 2 3/4"" x 5"" Form...",18.92,2,0.0,8.7138,Central,2025-01-02,,True,region
9941,10697,SCD2-CA-2017-164028-V2,01/03/2025,01/08/2025,Standard Class,JL-15835,John Lee,Consumer,United States,San Francisco,...,Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...,224.32,14,0.0,87.1962,West,2025-01-03,,True,region
9431,10698,SCD2-CA-2015-111864-V2,01/04/2025,01/05/2025,Same Day,PP-18955,Paul Prost,Home Office,United States,Philadelphia,...,Self-Adhesive Address Labels for Typewriters w...,5.63,4,0.2,1.9926,East,2025-01-04,,True,region
8743,10699,SCD2-US-2015-144771-V2,01/05/2025,01/07/2025,First Class,CK-12205,Chloris Kastensmidt,Consumer,United States,Hillsboro,...,SanDisk Ultra 32 GB MicroSDHC Class 10 Memory ...,56.65,3,0.2,-4.6410,West,2025-01-05,,True,region
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9599,10890,SCD2-CA-2015-116841-V2,07/15/2025,07/18/2025,Standard Class,TP-21130,Theone Pippenger,Consumer,United States,Springfield,...,Acco Smartsocket Color-Coded Six-Outlet AC Ada...,35.01,1,0.2,2.6406,West,2025-07-15,,True,region
9237,10891,SCD2-CA-2016-126732-V2,07/16/2025,07/21/2025,Standard Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,SpineVue Locking Slant-D Ring Binders by Cardinal,8.17,3,0.2,2.5592,West,2025-07-16,,True,region
9069,10892,SCD2-CA-2016-106278-V2,07/17/2025,07/21/2025,Second Class,BM-11140,Becky Martin,Consumer,United States,Des Moines,...,"Inter-Office Recycled Envelopes, Brown Kraft, ...",60.87,5,0.0,30.9918,West,2025-07-17,,True,region
9464,10893,SCD2-CA-2014-109127-V2,07/18/2025,07/21/2025,Standard Class,JC-15775,John Castell,Consumer,United States,Newark,...,Avery 492,20.57,5,0.0,7.9488,East,2025-07-18,,True,region
8078,10894,SCD2-CA-2015-106187-V2,07/19/2025,07/23/2025,Standard Class,RF-19345,Randy Ferguson,Corporate,United States,East Point,...,Dell Slim USB Multimedia Keyboard,77.61,4,0.0,18.0000,South,2025-07-19,,True,region

In [64]:
# For new records
new_records['valid_from'] = pd.to_datetime(new_records['order_date']).dt.strftime('%Y-%m-%d')
new_records['valid_to'] = ''
new_records['previous_region'] = ''
new_records['is_new_version'] = True
new_records['scd2_attribute_changed'] = ''

# For duplicates
duplicates_records['valid_from'] = pd.to_datetime(duplicates_records['order_date']).dt.strftime('%Y-%m-%d')
duplicates_records['valid_to'] = ''
duplicates_records['previous_region'] = ''
duplicates_records['is_new_version'] = False
duplicates_records['scd2_attribute_changed'] = ''

In [65]:
version_columns = ['valid_from', 'valid_to', 'previous_region', 'is_new_version', 'scd2_attribute_changed']

for df_name, temp_df in [('new_records', new_records), 
                         ('duplicates_records', duplicates_records),
                         ('scd1_records', scd1_records),
                         ('scd2_records', scd2_records)]:
    for col in version_columns:
        if col not in temp_df.columns:
            print(f"Adding column {col} to {df_name}")
            if col == 'is_new_version':
                temp_df[col] = False
            elif col == 'scd2_attribute_changed':
                temp_df[col] = ''
            else:
                temp_df[col] = ''

In [66]:
secondary_df = pd.concat([new_records, duplicates_records, scd1_records, scd2_records], ignore_index=True)

In [67]:
# Create full list of columns
base_columns = df.columns.tolist()
version_columns = ['valid_from', 'valid_to', 'previous_region', 'is_new_version', 'scd2_attribute_changed']
all_columns = base_columns + version_columns

# Ensure secondary_df has all columns
for col in all_columns:
    if col not in secondary_df.columns:
        secondary_df[col] = ''

# Reorder columns
secondary_df = secondary_df[all_columns]

In [68]:
secondary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_id                  1000 non-null   Int64
 1   order_id                1000 non-null   object
 2   order_date              1000 non-null   object
 3   ship_date               1000 non-null   object
 4   ship_mode               1000 non-null   object
 5   customer_id             1000 non-null   object
 6   customer_name           1000 non-null   object
 7   segment                 1000 non-null   object
 8   country                 1000 non-null   object
 9   city                    1000 non-null   object
 10  state                   1000 non-null   object
 11  postal_code             1000 non-null   Int64
 12  region                  1000 non-null   object
 13  product_id              1000 non-null   object
 14  category                1000 non-null   object
 15  sub_category            1000 non-null   object
 16  product_name            1000 non-null   object
 17  sales                   1000 non-null   float64
 18  quantity                1000 non-null   Int64
 19  discount                1000 non-null   float64
 20  profit                  1000 non-null   float64
 21  valid_from              1000 non-null   object
 22  valid_to                1000 non-null   object
 23  previous_region         1000 non-null   object
 24  is_new_version          1000 non-null   bool
 25  scd2_attribute_changed  1000 non-null   object
dtypes: Int64(3), bool(1), float64(3), object(19)
memory usage: 199.3+ KB

In [80]:
# Fix quantity = 0 to 1 (minimum value)
def fix_quantity(df):
    df['quantity'] = df['quantity'].apply(lambda x: 1 if x == 0 else x)
    return df

# Apply to all parts
new_records = fix_quantity(new_records)
scd1_records = fix_quantity(scd1_records)
scd2_records = fix_quantity(scd2_records)
duplicates_records = fix_quantity(duplicates_records)

# Or simply for secondary_df after creation:
secondary_df['quantity'] = secondary_df['quantity'].apply(lambda x: 1 if x == 0 else x)

# Check
print(f"Records with quantity = 0: {(secondary_df['quantity'] == 0).sum()}")

Записей с quantity = 0: 0

In [82]:
# 1. List of date columns
date_cols = ['order_date', 'ship_date', 'valid_from']

# 2. Convert everything to YYYY-MM-DD format (2025-01-31)
for col in date_cols:
    # First convert to datetime objects (pandas understands different formats)
    secondary_df[col] = pd.to_datetime(secondary_df[col], errors='coerce')
    # Convert back to strict YYYY-MM-DD string format
    secondary_df[col] = secondary_df[col].dt.strftime('%Y-%m-%d')

# Fix empty valid_to (replace NaT/NaN with NULL or empty string for CSV)
secondary_df['valid_to'] = pd.to_datetime(secondary_df['valid_to'], errors='coerce')
# For CSV, it's better to leave it empty if there is no date
secondary_df['valid_to'] = secondary_df['valid_to'].dt.strftime('%Y-%m-%d').fillna('')

# 3. Ensure quantity is not 0
secondary_df['quantity'] = secondary_df['quantity'].apply(lambda x: 1 if x <= 0 else x)

In [83]:
secondary_df.to_csv('C:/Users/user/TRAINEE/superstore_bi_pipeline/data/raw/secondary_load.csv', index=False, encoding='utf-8')

Loading the Initial Load in the Stage Layer (raw_orders)

In [71]:
from sqlalchemy import types as sa_types
from database.config.database_connection import get_db_connection

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   Int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   datetime64[ns]
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   Int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   Int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: Int64(3), datetime64[ns](2), float64(3), object(13)
memory usage: 1.6+ MB

In [73]:
# Engine
engine = get_db_connection()

# 2. dtype_map with SA types (fix error — objects, not strings!)
dtype_map = {
    'row_id': sa_types.INTEGER(),  # SA object for Int64 → INTEGER
    'order_id': sa_types.String(50),
    'order_date': sa_types.String(20),
    'ship_date': sa_types.String(20),
    'ship_mode': sa_types.String(50),
    'customer_id': sa_types.String(20),
    'customer_name': sa_types.String(100),
    'segment': sa_types.String(50),
    'country': sa_types.String(50),
    'city': sa_types.String(50),
    'state': sa_types.String(50),
    'postal_code': sa_types.INTEGER(),
    'region': sa_types.String(50),
    'product_id': sa_types.String(20),
    'category': sa_types.String(50),
    'sub_category': sa_types.String(50),
    'product_name': sa_types.String(200),
    'sales': sa_types.DECIMAL(precision=10, scale=2),
    'quantity': sa_types.INTEGER(),
    'discount': sa_types.DECIMAL(precision=5, scale=2),
    'profit': sa_types.DECIMAL(precision=10, scale=2),
    'valid_from': sa_types.String(20),
    'valid_to': sa_types.String(20),
    'previous_region': sa_types.String(50),
    'is_new_version': sa_types.Boolean(),
    'scd2_attribute_changed': sa_types.String(50)
}

In [77]:
# 3. Load (now without errors)
df.to_sql(
    name='raw_orders',
    con=engine,
    schema='stage',
    if_exists='replace',
    index=False,
    method='multi',
    chunksize=1000,
    dtype=dtype_map  # SA objects — fix!
)

9994

In [75]:
secondary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_id                  1000 non-null   Int64
 1   order_id                1000 non-null   object
 2   order_date              1000 non-null   object
 3   ship_date               1000 non-null   object
 4   ship_mode               1000 non-null   object
 5   customer_id             1000 non-null   object
 6   customer_name           1000 non-null   object
 7   segment                 1000 non-null   object
 8   country                 1000 non-null   object
 9   city                    1000 non-null   object
 10  state                   1000 non-null   object
 11  postal_code             1000 non-null   Int64
 12  region                  1000 non-null   object
 13  product_id              1000 non-null   object
 14  category                1000 non-null   object
 15  sub_category            1000 non-null   object
 16  product_name            1000 non-null   object
 17  sales                   1000 non-null   float64
 18  quantity                1000 non-null   Int64
 19  discount                1000 non-null   float64
 20  profit                  1000 non-null   float64
 21  valid_from              1000 non-null   object
 22  valid_to                1000 non-null   object
 23  previous_region         1000 non-null   object
 24  is_new_version          1000 non-null   bool
 25  scd2_attribute_changed  1000 non-null   object
dtypes: Int64(3), bool(1), float64(3), object(19)
memory usage: 199.3+ KB

In [79]:
secondary_df.to_sql(
    name='delta_orders',
    con=engine,
    schema='stage',
    if_exists='append',
    index=False,
    chunksize=1000,
    dtype=dtype_map
)

1000

In [45]:
print("New records duplicates:")
print(new_records['customer_id'].duplicated().sum())
print(f"Unique new customers: {new_records['customer_id'].nunique()}")

New records duplicates:
15
Unique new customers: 485

In [46]:
print("\nSCD1 records duplicates:")
print(scd1_records['customer_id'].duplicated().sum())
print(f"Unique SCD1 customers: {scd1_records['customer_id'].nunique()}")

SCD1 records duplicates:
34
Unique SCD1 customers: 166

In [47]:
print("\nAll secondary data duplicates:")
print(secondary_df['customer_id'].duplicated().sum())
print(f"Unique all customers: {secondary_df['customer_id'].nunique()}")

All secondary data duplicates:
163
Unique all customers: 837